h1{
    text-align: center;
}
table{
    margin-top: 50px;
    caption-side: bottom;
    margin-left:auto ;
    margin-right: auto;
border-collapse: collapse;
}


caption{

    padding-top: 20px;
    font-style: italic;
}


td{
    background-color: black;
    color: aliceblue;
}


td,th{
    
    border: 2px solid black;
    padding-left: 20px ;
    padding-bottom: 10px;
    padding-top: 10px;
}